<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student List</title>

    </style>
</head>
<body>
<a href="{% url 'registration' %}">registration</a>
<a href="{% url 'login' %}">login</a>
<a href="{% url 'logout' %}">logout</a>
<h1>Students</h1>

<a href="{% url 'add-student' %}">
    Add Student
</a>

<hr>

<form method="GET">

    <!-- SEARCH -->

    <input
        type="text"
        name="search"
        placeholder="Search student..."
        value="{{ request.GET.search }}"
    >

    <!-- COURSE FILTER -->

    <select name="course">

        <option value="">
            All Courses
        </option>

        {% for course in courses %}

            <option
                value="{{ course.id }}"

                {% if request.GET.course == course.id|stringformat:"s" %}
                    selected
                {% endif %}
            >
                {{ course.title }}
            </option>

        {% endfor %}

    </select>

    <button type="submit">
        Filter
    </button>

</form>

<hr>

{% for student in students %}

    <div>

        <h2>{{ student.full_name }}</h2>

        <p>Phone: {{ student.phone }}</p>

        <p>Email: {{ student.email }}</p>

        <p>Course: {{ student.course }}</p>

    </div>

    <hr>

{% empty %}

    <h2>No students found</h2>

{% endfor %}
<a href="{% url 'add-student' %}">add-student</a>
<a href="{% url 'add-course' %}">add-course</a>
</body>
</html>